.wrapper {
  background: #e3e3e3;
  height: 600px;
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: 28% 1fr;
  padding-top: 100px;
}
.section {
  position: relative;
  left: 170px;
  width: fit-content;
}
.list li p {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #3d2e10;
}
.list li {
  margin-bottom: 20px;
}
.list li hr {
  margin-top: 15px;
  width: 1030px;
  border-bottom: 0.5px solid #3d2e10;
}
.p-styles {
  font-family: 'Ledger';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;

  color: #3d2e10;
}
.space-container {
  display: flex;
  width: 1030px;
  justify-content: space-between;
}
