.wrapper {
  display: flex;
  flex-flow: row wrap;
  background: #8b8b8b;
  height: 1980px;
  width: auto;
}
.grid {
  position: relative;
  left: 7vw;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 490px 300px;
  column-gap: 100px;
  z-index: 2;
}
.list li {
  list-style: disc;
  font-family: 'Ledger', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  color: #ffffff;
}
.p-margin {
  margin-bottom: 35px;
}
.content-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-flow: column wrap;
  grid-column: 2;
  grid-row: 1/3;
  width: 700px;
  row-gap: 35px;
}
.first-style h1 {
  font-family: 'Ledger';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;
}
.first-style p {
  font-family: 'Ledger';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  color: #ffffff;
}

.second-style h1 {
  font-family: 'ITCCentury LT Book';
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  width: 500px;
}

.background img {
  width: 100%;
}
